<!-- Menu principale con sottomenu -->
  <nav class="top-nav">
    <ul class="menu-livello1">
      <li class="menu-item">Vista
        <ul class="submenu">
          <li><a href="/vista_dinamica.html">Produzione</a></li>
          <li><a href="#">Archiviati</a></li>
        </ul>
      </li>
      <li class="menu-item">Report
        <ul class="submenu">
          <li><a href="/report_consegna.html">Senza consegna</a></li>
          <li><a href="#">Smontaggio mancante</a></li>
          <li><a href="#">Falegnameria mancante</a></li>
          <li><a href="#">Finito admin mancante</a></li>
        </ul>
      </li>
    </ul>
  </nav>