<nav class="top-nav">
  <ul class="menu-livello1">
    <li class="menu-item"><a href="vista_dinamica.html?ruolo=admin">Produzione</a></li>
    <li class="menu-item"><a href="form.html?ruolo=admin">Inserisci nuovo</a></li>
    <li class="menu-item"><a href="vista_dinamica.html?ruolo=admin&filtro=pagati">In Uscita</a></li>

    <li class="menu-item">
      <a href="#">Report</a>
      <ul class="submenu">
        <li><a href="stat_mensile.html?ruolo=admin">Statistiche mensili</a></li>
        <li><a href="report_date_mancanti.html?ruolo=admin&smontaggio=true">Per smontaggio</a></li>
        <li><a href="report_date_mancanti.html?ruolo=admin&falegnameria=true">Per falegnameria</a></li>
        <li><a href="report_date_mancanti.html?ruolo=admin&finito_admin=true">Da completare</a></li>
        <li><a href="report_date_mancanti.html?ruolo=admin&sverniciatura=true">Da completare svericiatura</a></li>
        <li><a href="report_date_mancanti.html?ruolo=admin&consegna=true">Da consegnare</a></li>
      </ul>
    </li>
  </ul>
</nav>
