<div id="banner-manutenzione"></div>

<nav class="top-nav">
  <ul class="menu-livello1">
    <li class="menu-item"><a href="vista_dinamica.html?ruolo=superadmin">Produzione</a></li>
    <li class="menu-item"><a href="form.html?ruolo=superadmin">Inserisci nuovo</a></li>
    <li class="menu-item"><a href="vista_dinamica.html?ruolo=superadmin&filtro=pagati">In Uscita</a></li>

    <li class="menu-item">
      <a href="#">Report</a>
      <ul class="submenu">
        <li><a href="stat_mensile.html?ruolo=superadmin">Statistiche mensili</a></li>
        <li><a href="report_date_mancanti.html?ruolo=superadmin&smontaggio=true">Per smontaggio</a></li>
        <li><a href="report_date_mancanti.html?ruolo=superadmin&falegnameria=true">Per falegnameria</a></li>
        <li><a href="report_date_mancanti.html?ruolo=superadmin&finito_admin=true">Da completare</a></li>
        <li><a href="report_date_mancanti.html?ruolo=superadmin&sverniciatura=true">Da completare svericiatura</a></li>
        <li><a href="report_date_mancanti.html?ruolo=superadmin&consegna=true">Da consegnare</a></li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="#" id="toggle-manutenzione">🛠️ Manutenzione</a>
    </li>
    <li class="menu-item menu-right"><a href="#" data-auth-logout>Esci</a></li>
  </ul>
</nav>
